:root {
    --cor-preta: black;
    --cor-branca: white;
    --cor-execluir: #E31B1B;
    --cor-ouro: #CDB181;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gotu', sans-serif;
    transition: 0.5s;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    height: fit-content;
    background-color: var(--cor-preta);
}

header picture img {
    height: 90px;
    margin-left: 30px;
}

#product {padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    place-items: center;
    text-align: center;
    gap: 60px;
}

#product img {
    width: 200px;
    height: 200px;
}

.product img {
    width: 20vh;
}

.mostrarP {
    border: 1px solid #CDB181;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-radius: 10px;
}

.excluir {
    display: none;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(167, 27, 27);
    color: white;
    padding: 5px;
    width: 70%;
    cursor: pointer;
    margin-bottom: 10px;
}
.product:hover{
    .excluir{
        display:inline;
    }
}
